@charset "UTF-8";	
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-10-08 17:50:19
 * @version $Id$
 */
*{margin: 0;padding: 0}
.shangmian{width: 1320px;height: 200px;}
.shangmian img{width: 1320px;height: 700px}
.center{width: 1320px;height: 500px;border: 2px solid #32D;margin 160px auto;overflow: hidden;}
